{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
	the {body} of the default.hbs template, which contains our header/footer. }}

<div class="navbar-padding ">
<main id="home" class="main" role="main">

<!-- start: .center -->

	<!-- start: .left-content -->


	<div class="section articles  ">
		{{#foreach posts limit="7" columns="1"}}
							{{#if @first}}
							<div class="row">

					<article class=" {{post_class}} mainImg col-lg-8 col-md-8 col-sm-12 col-xs-12" style='padding-top:0px;padding-right:36px;'>
								<header style="overflow:hidden;">
										{{#if image}}
										<a href="{{url}}" class="thumb hover-effect">
														<div class="col-lg-12 col-md-12 col-sm-12 featured-img-size"
																 style="background:url({{image}}); background-size:cover; background-repeat: no-repeat; position:static;">
																 <div style="position: relative; top: 50%;">
																	 <span id="overlay_text" class="" style="position: relative; z-index: 3;">
																		 <h1 class="title" style="line-height:1.2;padding:2px;color:#fff">{{{title}}}</h1>
																	 </span>
																 </div>
														</div>
													</a>
										{{else}}
												{{content words="0"}}
										{{/if}}
								</header>
						</article>

						<div class="col-lg-4  col-md-4 col-sm-12 col-xs-12"style="background-color:#129345;background-size:cover;">
								<div id="subscribe" class=" " >
											{{#if @labs.subscribers}}
													<div class="gh-subscribe">
															<h2 class="gh-subscribe-title" style="color: #FFF;margin-bottom: 30px;font-size: 38px; font-family:Playfair Display;"> Join our Community</h2>
																<p id="sub_share" class="hidden-xs hidden-sm">Share Your Photos, Videos, and Stories with Millions of People From Planet Earth</p>
																<p id="sub_share" class="visible-xs visible-sm">Subscribe With</p>
																<div class=" post_subscribe_form col-lg-12 col-md-12 col-sm-12"style="background-image: linear-gradient(rgb(130, 179, 72), rgb(18, 147, 69));">
																	{{subscribe_form placeholder="Your Email Here"}}
																</div>
															{{#if error}}
														<p class="main-error">{{{error.message}}}</p>
															{{/if}}
													</div>
											{{/if}}
								</div>
						</div>
					<div class="fb-page col-lg-4 col-md-4 col-xs-12 top-spacer" data-href="https://www.facebook.com/earthables/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/earthables/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/earthables/">Earthables</a></blockquote></div>
					{{> earth_print}}

				</div>
				<div class="col-md-8 " style="margin-top:50px;">

							{{else}}
				<article class=" {{post_class}} {{#if @rowStart}} {{/if}} {{#if @rowEnd}}  {{/if}}" style="height:auto;margin-top:50px;">
					<header>
						{{#if image}}
							<a href="{{url}}" class="thumb hover-effect">
								<div class="" style=" padding-bottom:64.5%;background:url({{image}}); background-size:cover; background-repeat: no-repeat;">
									</div>
							</a>
						{{else}}
							{{content words="0"}}
						{{/if}}
				<div class="clear"></div>
						<div class="meta">
							<div class="alignleft">
								{{#if tags}}
									<div class="tags post-tags">
										{{tags separator=""}}
									</div>
								{{/if}}
								<h4 class="title" ><a href="{{url}}">{{{title}}}</a></h4>
								</div>
							<div class="clear"></div>
						</div>
					</header>
				{{/if}}
				</article>

			{{else}}

				{{> default-article}}
		{{/foreach}}
	</div>
			{{> "trending-sidebar" }}

</div>

<!-- end: .center -->
</main>
</div>
