{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<!-- start: #single -->
<style media="screen">
	.post_widget{
		padding-top:0px;
	}
</style>
<div class="row">

	<div class=" col-lg-8 col-lg-offset-2 col-xs-12 hidden-xs " style="padding-left:1px;padding-right:1px;">
		<!--TBN ATF 728x90 pos 1 STARTS-->
<div id="tbn-95225cb8-4577-5ac4-d242-a41ee97ee484">
		 <script type="text/javascript">window.$tbn = window.$tbn || {"d":function(){}}; $tbn.d("95225cb8-4577-5ac4-d242-a41ee97ee484");</script>
</div>
<!--TBN ATF 728x90 pos 1 ENDS-->
	</div>
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">

<main id="single" class="main " role="main">

	{{#post}}
	<!-- start: .meta -->
	<div class="meta col-lg-12 col-md-12 col-xs-12">
		<a class="local" href="{{url}}">

			<h1 class="title " id="post_title" style="font-family:Playfair Display;">{{title}}</h1>
		</a>

			<div class=" meta-block" style="border-bottom:none;">
				<div class="addthis_inline_share_toolbox col-lg-6 col-xs-12 addthis_32x32_style" style=padding:0;>
					{{!--<a class="addthis_button_preferred_2"></a><a class="addthis_button_preferred_5"></a><a class="addthis_button_preferred_6"></a><a class="addthis_button_preferred_3"></a><a class="addthis_button_compact"></a>--}}
				</div>
			<div class="pull-right" style="padding-top:20px;">
				<span class='hidden-xs'style="padding-right:5px;">Like Earthables on Facebook</span>
				 	<div class="fb-like hidden-xs" data-href="https://www.facebook.com/earthables/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
			</div>
			<div class="row">
				<div class="fb-like hidden-lg hidden-md visible-xs " data-href="https://www.facebook.com/earthables/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>

			</div>
      {{!--<a href="#comments" class="comments"><i class="fa fa-comment"></i> <span class="disqus-comment-count" data-disqus-url="{{@blog.url}}{{url}">0</span></a>--}}
  </div>
</div>
    <div class="clear">

    </div>

    {{#if image}}
        {{^has tag="no cover"}}
                <div class="main-image cover">
									<img src="{{image}}"  height="400"  alt="" style="width:100%;"/>
                    <div class="center grid-container">
                        <div class="boxed cover" style="background: url({{image}});"></div>
                        <div class="boxed overlay"></div>
                    </div>
                </div>

        {{/has}}
    {{/if}}



    <div class="clear"></div>



		<!-- start: .center -->
		<div class=" content section grid-container {{#has tag="no cover"}}no-cover{{/has}}">

				<!-- start: .content -->


					<article class="{{post_class}}">

						{{#has tag="no cover"}}
							<header>
								<!-- start: .meta -->
								<div class="meta">
									{{#if tags}}
										<div class="tags">
											{{tags separator=""}}
										</div>
									{{/if}}
									<time datetime="{{date format="YYYY-MM-DD"}}"><i class="fa fa-clock-o"></i> {{date}}</time>
									<a href="#comments" class="comments alignright"><i class="fa fa-comment"></i> <span class="disqus-comment-count" data-disqus-url="{{@blog.url}}{{url}}">0</span></a>
								</div>
								<!-- end: .meta -->
								<div class="clear"></div>
								<h2 class="title">{{title}}</h2>
								<div class="post-format">
									{{#if image}}
										<div class="main-image"><img src="{{image}}"></div>
									{{/if}}
								</div>

							</header>
						{{/has}}

						<section class="post-content ">

							<section class="widget widget_text post_widget col-lg-5 col-md-6 col-sm-8 ">


						<div id="ad_1" class="">
							<!-- ENVERO AD -->
							<script type="text/javascript"><!--

						google_ad_client = "ca-pub-2315916373893743";

						/* earthables.com 336x280 */

						google_ad_slot = "8208348125";

						google_ad_width = 336;

						google_ad_height = 280;

						//-->

						</script>

						<script type="text/javascript"

						src="//pagead2.googlesyndication.com/pagead/show_ads.js">

						</script>

							<!--Carambola Script -->


							<!--TBN BTF 300x250 pos 3 STARTS-->
		<!-- <div id="tbn-2812487e-d50e-b016-ee1d-88e6703d8f61">
		     <script type="text/javascript">window.$tbn = window.$tbn || {"d":function(){}}; $tbn.d("2812487e-d50e-b016-ee1d-88e6703d8f61");</script>
		</div> -->
	<!--TBN BTF 300x250 pos 3 ENDS-->
						</div>
					</section>
						<div class=" post_subscribe_form col-lg-7 col-md-6 col-sm-10"style="background-image: linear-gradient(rgb(130, 179, 72), rgb(18, 147, 69));">
						{{subscribe_form placeholder="Your Email Here"}}
				</div>
				<img height='0' width='0' alt='' src='//pixel.watch/eq3k' style='display:block;' />
				<script data-cfasync="false" class="carambola_InContent" type="text/javascript" cbola_wid="2">
				(function (i,d,s,o,m,r,c,l,w,q,y,h,g) {
				var e=d.getElementById(r);if(e===null){
				var t = d.createElement(o); t.src = g; t.id = r; t.setAttribute(m, s);t.async = 1;var n=d.getElementsByTagName(o)[0];n.parentNode.insertBefore(t, n);
				var dt=new Date().getTime();
				try{i[l][w+y](h,i[l][q+y](h)+'&'+dt);}catch(er){i[h]=dt;}
				} else if(typeof i[c]!=='undefined'){i[c]++}
				else{i[c]=1;}
				})(window, document, 'InContent', 'script', 'mediaType', 'carambola_proxy','Cbola_IC','localStorage','set','get','Item','cbolaDt','//route.carambo.la/inimage/getlayer?pid=mndp96&did=112266&wid=2')
				</script>
				<!-- <div style="display:none; position: relative;">
					<iframe style="display:none;"></iframe>
					<script type="text/javascript">
					var data = {
						placementid: '918400028270230_918402578269975',
						format: 'native',
						testmode: false,
						onAdLoaded: function(element) {
							console.log('Audience Network ad loaded');
							element.style.display = 'block';
						},
						onAdError: function(errorCode, errorMessage) {
							console.log('Audience Network error (' + errorCode + ') ' + errorMessage);
						}
					};
					(function(w,l,d,t){var a=t();var b=d.currentScript||(function(){var c=d.getElementsByTagName('script');return c[c.length-1];})();var e=b.parentElement;e.dataset.placementid=data.placementid;var f=function(v){try{return v.document.referrer;}catch(e){}return'';};var g=function(h){var i=h.indexOf('/',h.indexOf('://')+3);if(i===-1){return h;}return h.substring(0,i);};var j=[l.href];var k=false;var m=false;if(w!==w.parent){var n;var o=w;while(o!==n){var h;try{m=m||(o.$sf&&o.$sf.ext);h=o.location.href;}catch(e){k=true;}j.push(h||f(n));n=o;o=o.parent;}}var p=l.ancestorOrigins;if(p){if(p.length>0){data.domain=p[p.length-1];}else{data.domain=g(j[j.length-1]);}}data.url=j[j.length-1];data.channel=g(j[0]);data.width=screen.width;data.height=screen.height;data.pixelratio=w.devicePixelRatio;data.placementindex=w.ADNW&&w.ADNW.Ads?w.ADNW.Ads.length:0;data.crossdomain=k;data.safeframe=!!m;var q={};q.iframe=e.firstElementChild;var r='https://www.facebook.com/audiencenetwork/web/?sdk=5.3';for(var s in data){q[s]=data[s];if(typeof(data[s])!=='function'){r+='&'+s+'='+encodeURIComponent(data[s]);}}q.iframe.src=r;q.tagJsInitTime=a;q.rootElement=e;q.events=[];w.addEventListener('message',function(u){if(u.source!==q.iframe.contentWindow){return;}u.data.receivedTimestamp=t();if(this.sdkEventHandler){this.sdkEventHandler(u.data);}else{this.events.push(u.data);}}.bind(q),false);q.tagJsIframeAppendedTime=t();w.ADNW=w.ADNW||{};w.ADNW.Ads=w.ADNW.Ads||[];w.ADNW.Ads.push(q);w.ADNW.init&&w.ADNW.init(q);})(window,location,document,Date.now||function(){return+new Date;});
					</script>
					<script type="text/javascript" src="https://connect.facebook.net/en_US/fbadnw.js" async></script>
					<style>
					.thirdPartyRoot {
						background-color: white;
						color: #444;
						border: 1px solid #ccc;
						border-left: 0;
						border-right: 0;
						font-family: sans-serif;
						font-size: 14px;
						line-height: 16px;
						width: 320px;
						text-align: left;
						position: relative;
						padding-top:30px;
					}
					.thirdPartyMediaClass {
						width: 320px;
						height: 168px;
						margin: 12px 0;
					}
					.thirdPartySubtitleClass {
						font-size: 18px;
						-webkit-line-clamp: 1;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						height: 16px;
						-webkit-box-orient: vertical;
					}
					.thirdPartyTitleClass {
						padding-right: 12px;
						line-height: 18px;
						-webkit-line-clamp: 2;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						height: 36px;
						-webkit-box-orient: vertical;
					}
					.thirdPartyCallToActionClass {
						background-color: #416BC4;
						color: white;
						border-radius: 4px;
						padding: 6px 20px;
						float: right;
						text-align: center;
						text-transform: uppercase;
						font-size: 11px;
					}
					.fbDefaultNativeAdWrapper {
						font-size: 12px;
						line-height: 14px;
						margin: 12px 0;
						height: 36px;
						vertical-align: top;
					}
				</style>
				<div class="thirdPartyRoot">
					<a class="fbAdLink">
						<div class="fbAdMedia thirdPartyMediaClass"></div>
						<div class="fbAdSubtitle thirdPartySubtitleClass"></div>
						<div class="fbDefaultNativeAdWrapper">
							<div class="fbAdCallToAction thirdPartyCallToActionClass"></div>
							<div class="fbAdTitle thirdPartyTitleClass"></div>
						</div>
					</a>
				</div>
			</div> -->
				{{#if error}}
	    <p class="main-error">{{{error.message}}}</p>
				{{/if}}
									<div class="fade-1">



								        	<div class="text">{{content}}</div>

														<p class="read-more"><a class="btn" href="#" style="height: 50px;width: 120px;padding-top: 14px;">Read More</a></p>

							    </div>



						</section>
					</article>

        </div>


				<!-- end: .content -->

    {{/post}}
		<!-- end: .center -->
		<section class="widget widget_text post_widget">
			<div id="ad_4" class="">
				<!--TBN BTF 300x250 pos 4 STARTS-->
	<div id="tbn-54cd179d-9eda-5c38-bd63-71e0d27d1613">
	     <script type="text/javascript">window.$tbn = window.$tbn || {"d":function(){}}; $tbn.d("54cd179d-9eda-5c38-bd63-71e0d27d1613");</script>
	</div>
<!--TBN BTF 300x250 pos 4 ENDS-->
			</div>
		</section>
</main>
<!-- end: #single -->
</div>

<div class="row">
	{{>  "trending-sidebar" }}

	<div class="col-md-8">
		<div class="post-ad-wrapper visible-lg visible-md hidden-xs" style="margin-top: 0;">
				<div id="ad_1" class="">
					<!--TBN BTF 728x90 pos 2 STARTS-->
			  	<!-- <div id="tbn-a9258a13-4af4-1b25-99c5-8d6d6ae95ed1">
			  	     <script type="text/javascript">window.$tbn = window.$tbn || {"d":function(){}}; $tbn.d("a9258a13-4af4-1b25-99c5-8d6d6ae95ed1");</script>
			  	</div> -->

				</div>

		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-sm-8">
			<div id="rcjsload_8973ba"></div>
		<section class="related grid-container grid-parent">
			<h3 class="relatedStories">RELATED STORIES</h3>
			{{> "related_section"}}
				<div class="loaded_content"></div>
		</section>
	</div>
</div>
