{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<!-- start: #single -->


<!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 clear"> -->
<div class="container">
	<div class="row">
		<main id="single" class="main" role="main">
			{{#post}}
			<div class="col-lg-2 col-md-2 hidden-sm hidden-xs pull-left">
				<img class="postLR1"src="{{asset 'images/ad-160x600.jpg'}}" alt="">
			</div>
			<div class="col-lg-7 col-md-8">
				<h2>{{title}}</h2>
				<div class="post-format">
					<div class=" pagingControls">
						<button id="previous" class="btn">Prev</button>
						<button id="next"class="btn">Next</button>
					</div>
			</div>
				<div class="post-format">
					{{#if image}}
						<div class="main-image"><img width='716'src="{{image}}"></div>
					{{/if}}
					<div id="pageContainer" class="text">
						{{content}}
					</div>
					<div class="pagingControls">
						<button id="previous" class="btn">Prev</button>
						<button id="next"class="btn">Next</button>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-2 ">
				<img class="postRR1"src="{{asset 'images/ad_2-300x250.png'}}" alt="">
				<img class="postRR1"src="{{asset 'images/ad_2-300x250.png'}}" alt="">
			</div>
			{{/post}}
		</main>
	</div>
</div>
<!-- end: #single -->


<div class="clear"></div>
<!-- <div class="row">

	<div class="col-md-8">
		<div class="post-ad-wrapper visible-lg visible-md hidden-xs" style="margin-top: 0;">
				<div id="ad_1" class="">
					TBN BTF 728x90 pos 2 STARTS
			  	<div id="tbn-a9258a13-4af4-1b25-99c5-8d6d6ae95ed1">
			  	     <script type="text/javascript">window.$tbn = window.$tbn || {"d":function(){}}; $tbn.d("a9258a13-4af4-1b25-99c5-8d6d6ae95ed1");</script>
			  	</div>

				</div>

		</div>
	</div>
</div> -->
<!-- <div class="row">
	<div class="col-lg-8 col-sm-8">
			<div id="rcjsload_8973ba"></div>
		<section class="related grid-container grid-parent">
			<h3 class="relatedStories">RELATED STORIES</h3>
				<div class="loaded_content"></div>
		</section>
	</div>
</div> -->
