{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main id="home" class="main container" role="main">

	<!-- start: .center -->



		<!-- start: .left-content -->
		<div class="left-content section articles pull-left col-md-8 " style="margin-top:0;">


			{{#foreach posts }}

					<article class="default col-md-12 {{post_class}} {{#if @first}} first-post{{/if}}">
						<header>
								  <div class="{{^if @first}}col-md-6 col-lg-6{{/if}} {{#if @first}} col-md-12 {{/if}}">

										{{#if image}}
											<a href="{{url}}" class="thumb hover-effect">
												<img src="{{image}}" style="{{^if @first}}height:256px;{{/if}}">
											</a>
										{{else}}
											{{content words="0"}}
										{{/if}}

									</div>
									<!--	<div class="clear"></div>-->
									<div class="{{^if @first}}col-md-6 col-lg-6{{/if}} col-md-12 col-xs-12">

										<div id="meta">

										<div class="meta">
											<div id="time">

												<time datetime="{{date format="YYYY-MM-DD"}}"><i class="fa fa-clock-o"></i>{{date}}</time>
											</div>

										</div>
									</div>


									<h4 class="title tag-title"><a href="{{url}}">{{{title}}}</a></h4>


						</header>

										<div class="fade-out">
			                  <div class="text">{{excerpt characters="340"}}</div>
												<p class="read-more" style="text-align:center;"><a class="btn" href="{{url}}">Read More</a></p>

			              </div>
				</article>

					{{/foreach}}

	</div>
		<!-- end: .left-content -->


		<div class="section">

{{> "trending-sidebar" }}



		</div>

	</div>
	<!-- end: .center -->


</main>
