<!-- start: #footer -->

<footer id="footer" class="container-fluid">

  <!--TBN BTF 728x90 pos 2 ENDS-->
</div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-sm-4 col-xs-12">
          <img class= 'footerPorn' src="{{asset 'images/earth_porm_headerweb_white.png'}}" alt="">

        <div class="footer__social col-lg-offset-5 col-xs-offset-4">
                        <a href="https://www.facebook.com/earthables" class="sprite " target="_blank"><div class="sprite-common-FooterFB" style="background-image:url({{asset 'images/common.png'}})"></div></a>
                        <a href="https://instagram.com/earthables/" class="sprite" target="_blank"><div class="sprite-common-FooterInst" style="background-image:url({{asset 'images/common.png'}})"></div></a>
                        <a href="https://twitter.com/earthables" class="sprite" target="_blank"><div class="sprite-common-FooterTW" style="background-image:url({{asset 'images/common.png'}})"></div></a>
                        <a href="https://www.pinterest.com/earthables/" class="sprite" target="_blank"><div class="sprite-common-FooterPin" style="background-image:url({{asset 'images/common.png'}})"></div></a>
                    </div>
        </div>
        <div class="col-sm-4">
            <div class="text-center">
                <h2 class="bold" style="color: white;">Join our Community</h2>
                <p class="top-spacer" style="color:#909090; font-size:2rem;">Share Your Photos, Videos, and Stories with Millions of People From Planet Earth</p>
            </div>
            <div class="top-spacer center-block">
                <button class="btn btn-default btn-block">
                    <h5 class="bold uppercase">Sign Up Today</h5>
                </button>
            </div>
        </div>
        <div class="col-sm-4 footer-links">
            <ul class="top-spacer">
                <li class="extra-padding"><a href="http://earth.groupxondemand.com/about-us">About Us</a></li>
                <li class="extra-padding"><a href="http://earth.groupxondemand.com/contact-us/">Contact Us</a></li>
                <li class="extra-padding"><a href="http://earth.groupxondemand.com/advertising-commitment/">Advertising Commitment</a></li>
                <li class="extra-padding"><a href="http://earth.groupxondemand.com/privacy-policy/">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
    <div class="row top-spacer">
        <p class="top-spacer text-center">© Copyright 2016 - Crafted with love by GroupX inc.</p>
    </div>



    <div class="hide">
        <div class="row" style="padding:10px;">
            <div class="row">


                <ul id="footer-links" class="col-xs-6 col-md-2 col-md-offset-2" style="list-style:none;">
                    <li><a href="http://dev.groupxondemand.com/dmca-removal/">DMCA / Removal</a></li>
                    <li><a href="http://dev.groupxondemand.com/dmca-removal/">test</a></li>
                </ul>


                <ul id="footer-links" class="col-xs-6  col-md-2" style="list-style:none;width:150px;">
                    <li><a href="http://dev.groupxondemand.com/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="http://dev.groupxondemand.com/terms-of-service">Terms of Service</a></li>
                    <li><a href="http://dev.groupxondemand.com/disclaimer/">Disclaimer</a></li>
                    <li><a href="http://dev.groupxondemand.com/user-agreement/">User Agreement</a></li>
                    <li><a href="http://dev.groupxondemand.com/why-cookies/">We Use Cookies</a></li>
                </ul>

            </div>


            <div class="col-xs-offset-2 col-xs-12 col-sm-6 col-md-6 col-md-offset-2">

                <ul id="footer-nav" class="nav navbar-nav navbar-right">
                    <li id="menu-item-1423" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1423 dropdown yamm-fw favethemes-links-megamenu">
                        <a href="http://kaylene.life">Energy Healing</a>
                    </li>
                    <li id="menu-item-1422" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1422">
                        <a href="https://www.facebook.com/heartcenteredrebalancing.com">Facebook</a>
                    </li>
                    <li id="menu-item-1723" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1723">
                        <a href="https://www.youtube.com/channel/UCKfaRR9jOK3VV0XxaHbQcsQ">Youtube Channel</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-10 col-lg-12 col-md-5 col-md-offset-4">
                <p>© Copyright 2016 - Crafted with love by GroupX inc.</p>
            </div>
        </div>
        <a href="javascript:void(0)" id="back-to-top">JUMP TO TOP<i class="fa fa-chevron-up"></i></a>

    </div>








</footer>
<!-- end: #footer -->
