<div class="row">
  <header>
    <div  class="container-fluid post-nav ">
      <nav class="navbar navbar-default navbar-fixed-top"style="z-index:1;padding-top:7px;">
          <div class="container">

              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header" style="display: inline-block;">
                  <a type="button" class="navbar-toggle collapsed navbar-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </a>
                  <a class="nav_logo" href="{{@blog.url}}">
                      <div class=" earth_text_sprite" style=" background-image:url({{asset "images/common.png"}})">
                     </div>
                   </a>
                </div>
            <div class="nav_item_wrapper " style="position:relative;z-index:2;">
                <ul class=" col-lg-7 col-md-7 masthead__social hidden-sm hidden-xs" >
                  <li class="masthead__social-item"><a href="https://www.facebook.com/earthables" class="masthead__social-anchor" target="_blank"><div class="sprite-common-TopBarFB" style="background-image:url({{asset 'images/common.png'}})"></div></a></li>
                  <li class="masthead__social-item"><a href="https://instagram.com/earthables/" class="masthead__social-anchor" target="_blank"><div class="sprite-common-TopBarInst" style="background-image:url({{asset 'images/common.png'}})"></div></a></li>
                  <li class="masthead__social-item"><a href="https://twitter.com/earthables" class="masthead__social-anchor" target="_blank"><div class="sprite-common-TopBarTW" style="background-image:url({{asset 'images/common.png'}})"></div></a></li>
                  <li class="masthead__social-item"><a href="https://www.pinterest.com/earthables/" class="masthead__social-anchor" target="_blank"><div class="sprite-common-TopBarPin" style="background-image:url({{asset 'images/common.png'}})"></div></a></li>
                </ul>
            <!--  <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
                  <ul class="dropdown-menu" style="padding:12px;">
                    <form action="" method="get" class="hide-on-mobile">
                      <input type="text" name="s" value="" class="search-field" required>
                      <button type="submit">  <i class="navbar-search fa fa-search" aria-hidden="true"></i></button>
                    </form>
                  </ul>
              </li>-->
              <a href="#" id="searchtoggl" class="searchtoggl"><i class="navbar-search fa fa-search" aria-hidden="true"></i></a>
            </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class=" collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav nav_wrap navbar-nav">
                      {{ navigation }}
                  </ul>
              </div><!-- /.navbar-collapse -->
          </div>
      </nav>
    </div>


      <!-- start scroll-nav for post page -->
<span class="overlay " style="position:absoulte;">
  <div  class="container-fluid scroll-nav "style="visibility:hidden;background-color:#fff; margin-bottom:50px;" >
    <nav class="navbar navbar-default navbar-fixed-top"style="z-index:1;background:#fff;padding-top:7px;">
      <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="display: inline-block; position:absolute; z-index:10;">
                <a type="button" class="navbar-toggle collapsed navbar-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar scroll_icon"></span>
                    <span class="icon-bar scroll_icon"></span>
                    <span class="icon-bar scroll_icon"></span>
                </a>
            </div>
            <div class="addthis_inline_share_toolbox addthis_32x32_style col-lg-4 col-xs-8 col-lg-offset-4 col-xs-offset-2" style="padding-top:12px;padding-left:2px;"></div>
          <div class="nav_item_wrapper " style="position:relative;z-index:2;">
            <i class="navbar-search_scroll fa fa-search" aria-hidden="true"></i>
          </div>
       </div>
    </nav>
  </div>
</span>

</header>
</div>
